body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.todo-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.todo-header .title {
  display: flex;
  align-items: center;
  justify-content: center;
}

.todo-add {
  display: inline-flex;
  padding: 10px;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  cursor: pointer;
  color: lightgreen;
  transition: 200ms;
}

.todo-add:hover {
  color: green;
}

.todo-loading {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 10px;
}

.todo-status {
  display: inline-flex;
  padding: 10px;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  opacity: 0.2;
  cursor: pointer;
  transition: 200ms;
}

.todo-status.complated {
  opacity: 1;
  color: green;
}

.todo-status:hover {
  color: green;
  opacity: 1;
}

.todo-list-item {
  position: relative;
  display: flex;
  align-items: center;
  border: 1px solid #efefef;
  padding: 5px;
  margin-bottom: 10px;
  border-radius: 10px;
}

.todo-list-item.completed {
  opacity: 0.5;
}

.todo-item-content {
  flex: 1;
}

.todo-item-timestamp {
  font-size: 10px;
  color: #ccc;
}

.todo-delete {
  display: inline-flex;
  padding: 10px;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  opacity: 0.2;
  cursor: pointer;
  transition: 200ms;
}

.todo-delete:hover {
  color: red;
  opacity: 0.9;
}
